<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    <relativeBindForResources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--
           Add probing paths to Extension Manager and MS.VS.Settings assemblies.
           The probing paths are relative to the app base, and it is in VS\Common7 folder, 3 levels up from the service location.
      -->
      <probing privatePath="IDE;IDE\PrivateAssemblies;IDE\PublicAssemblies;" />
      <!-- Redirect ServiceHub dependencies to VS versions -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="4.5.0.0-9.0.0.1" newVersion="9.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>