<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- JsonRPC users newtonsoft json 6, we want to make sure everyone is using the same version. -->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="4.5.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
        <codeBase version="3.19.8.16603" href="ADALV3\Microsoft.IdentityModel.Clients.ActiveDirectory.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
        <codeBase version="3.19.8.16603" href="ADALV3\Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <!-- Use the default proxy (by default) and use the users integrated credentials if the proxy requires authentication -->
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>